
@{
    //Layout = null;
    ViewBag.Title = "Home";
}


<div> 
    <h2>Welcome</h2>
    <hr />
    <p> Hey, nice meeting your here CJ! All you had to do was order the pizza CJ!</p>
    <p>Order @Html.ActionLink("here","RSVP")</p>
</div>
